<article>
  <h1>אודותינו</h1>
  <p>
    תושבים ומטיילים יקרים, ברוכים הבאים לחבל יתיר.חבל ארץ קסום ובראשיתי המשלב
    בין יער, מדבר והר. חבל יתיר ממוקם על ספר המדבר על קו פרשת המים, ועשיר בנופים
    מרהיבים לכיוון מדבר יהודה והרי מואב, השפלה ובאר שבע. אנו נמצאים בחבל ארץ
    ייחודי המחבר בין ההר – המדבר והנגב, החיבור הגיאוגרפי הייחודי מקנה למטיילים
    חוויה נופית – אנושית מגוונת. מרחב התיירות חובק בתוכו את דרכי האבות, אתרי
    ראשית מלכותו של דוד המלך, העיר התלמודית הסודית סוסיא ואתרי תנ"ך ומורשת בני
    זמננו. אתרינו נמצאים בגובה 900 מ' מעל פני הים. מזמינים אתכם לאורך עונות השנה
    ליהנות מחגיגה מושלגת בחורף, להתבשם בפריחת השקד באביב, לטעום את הדובדבנים
    ופירות הקיץ בקטיף עצמי ולצאת לבציר הענבים בעת פריחות החצב והחלמונית מבשרי
    הסתיו. אתם מוזמנים להכיר אותנו, אנשי ההר, המציעים לכם טיולי טבע וסיורים
    מזמרים, בתי קפה ושירותי הסעדה, אומנים ויוצרים, כורמים וחקלאים ובעיקר מפגשים
    אישיים וסיפורי מקום שלא הכרתם.
  </p>
</article>
